<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
    <form action="{% url 'users:detail' user.id %}" method="POST">
        {% csrf_token %}
    
        <input type="text" name="email" placeholder="email" id="email" class="text"/>
        <input type="text" name="username" placeholder="username" id="username" class="text"/> 
        <input type="text" name="nickname" placeholder="nickname" id="nickname" class="text"/> 
        
        <input type="submit"/>
    
        </form>
    

</body>
</html>