<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>
</head>
<body>

    <form action="{% url 'users:signup' %}" method="POST">
        {% csrf_token %}
        
        <input type="text" name="email" placeholder="email" id="email" class="email"/>
        <input type="text" name="username" placeholder="username" id="username" class="username"/>
        <input type="text" name="nickname" placeholder="nickname" id="nickname" class="nickname"/>
        <input type="password" name="password" placeholder="password"/>
        <input type="password"name="password2" placeholder="passwordcheck"/>
        <input type="submit" />

    </form>

    
</body>
</html>